<section *ngIf="isReady; else loading;">
    <md-toolbar>
        Details of #{{ customer.cprCvr }}
    </md-toolbar>

    <form [formGroup]="form">
        <p>
            <md-form-field>
                <input mdInput readonly placeholder="Customer number" type="text" formControlName="cprCvr" />
            </md-form-field>
        </p>
        <p>
            <md-form-field>
                <input mdInput placeholder="First name" type="text" formControlName="firstName" />
                <md-error *ngIf="form.get('firstName').hasError('required')">
                        Please enter first name
                    </md-error>
                </md-form-field>
        </p>
        <p>
            <md-form-field>
                <input mdInput placeholder="Last name" type="text" formControlName="lastName" />
                <md-error *ngIf="form.get('lastName').hasError('required')">
                        Please enter last name
                    </md-error>
                </md-form-field>
        </p>
        <p>
            <button md-raised-button color="primary" type="submit" [disabled]="!form.valid" (click)="update()">
                Update
            </button>
        </p>
    </form>
</section>

<ng-template #loading>
    <md-progress-bar mode="indeterminate"></md-progress-bar>
</ng-template>