<section *ngIf="isReady; else loading;">
    <md-toolbar>
        Details of {{ account.name }}
    </md-toolbar>

    <form [formGroup]="form">
        <p>
            <md-form-field>
                <input mdInput readonly placeholder="Customer number" type="text" formControlName="cprCvr" />
            </md-form-field>
        </p>
        <p>
            <md-form-field>
                <input mdInput readonly placeholder="Register number" type="text" formControlName="regNo" />
            </md-form-field>
        </p>
        <p>
            <md-form-field>
                <input mdInput readonly placeholder="Account number" type="text" formControlName="accountNo" />
            </md-form-field>
        </p>
        <p>
            <md-form-field>
                <input mdInput placeholder="Name" type="text" formControlName="name" />
                <md-error *ngIf="form.get('name').hasError('required')">
                    Please enter a account name
                </md-error>
            </md-form-field>
        </p>
        <p>
            <button md-raised-button color="accent" type="submit" [routerLink]="['/customers', customer.cprCvr]">
                Show Customer
            </button>
            <button md-raised-button color="primary" type="submit" [disabled]="!form.valid" (click)="update()">
                Update
            </button>
            <button md-raised-button color="warn" type="submit" [routerLink]="['/accounts']">
                Return to list
            </button>

        </p>
    </form>

    <md-divider></md-divider>
    
    <app-account-transactions [transactions]="account.transactions"></app-account-transactions>
</section>

<ng-template #loading>
    <md-progress-bar mode="indeterminate"></md-progress-bar>
</ng-template>
