<md-toolbar>
    List of customers
    <span class="fill-remaining-space"></span>
    <button md-mini-fab color="primary" [routerLink]="['/customers/create']">
        <md-icon>add</md-icon>
    </button>
</md-toolbar>
<md-nav-list>
    <md-list-item *ngFor="let customer of list" (click)="details(customer)">
        <p mdLine>{{ customer.firstName }} {{ customer.lastName }}</p>
        <p mdLine> #{{ customer.cprCvr }}</p>
    </md-list-item>
</md-nav-list>