<section *ngIf="isReady; else loading;">
    <md-toolbar>
        Create new account
    </md-toolbar>

    <form [formGroup]="form">
        <p>
            <md-form-field>
                <input mdInput placeholder="Customer number" type="text" formControlName="cprCvr" [mdAutocomplete]="auto" />
                <md-error *ngIf="form.get('cprCvr').hasError('required')">
                    Please enter customer number
                </md-error>
            </md-form-field>
    
            <md-autocomplete #auto="mdAutocomplete">
                <md-option *ngFor="let customer of customers" [value]="customer.cprCvr">
                    #{{ customer.cprCvr }} {{ customer.firstName }} {{ customer.lastName }}
                </md-option>
            </md-autocomplete>            
        </p>
        <p>
            <md-form-field>
                <input mdInput placeholder="Register number" type="text" formControlName="regNo" maxlength="4" />
                <md-error *ngIf="form.get('regNo').hasError('required')">
                    Please enter a register number
                </md-error>
            </md-form-field>
        </p>
        <p>
            <md-form-field>
                <input mdInput placeholder="Account number" type="text" formControlName="accountNo" />
                <md-error *ngIf="form.get('accountNo').hasError('required')">
                    Please enter a account number
                </md-error>
            </md-form-field>
        </p>
        <p>
            <md-form-field>
                <input mdInput placeholder="Name" type="text" formControlName="name" />
                <md-error *ngIf="form.get('name').hasError('required')">
                    Please enter a account name
                </md-error>
            </md-form-field>
        </p>
        <p>
            <button md-raised-button color="primary" type="submit" [disabled]="!form.valid" (click)="create()">
                Create
            </button>
            <button md-raised-button color="warn" type="submit" [routerLink]="['/accounts']">
                Return to list
            </button>            
        </p>
    </form>
</section>

<ng-template #loading>
    <md-progress-bar mode="indeterminate"></md-progress-bar>
</ng-template>