<md-toolbar>
    List of accounts
    <span class="fill-remaining-space"></span>
    <button md-mini-fab color="primary" [routerLink]="['create']">
        <md-icon>add</md-icon>
    </button>
</md-toolbar>
<md-nav-list>
    <md-list-item *ngFor="let account of list" (click)="details(account)">
        <p mdLine>{{ account.name }}</p>
        <p mdLine> #{{ account.regNo }} / {{ account.accountNo }}</p>
    </md-list-item>
</md-nav-list>