<md-toolbar>
        List of Transactions
</md-toolbar>
<md-nav-list>
    <md-list-item *ngFor="let transaction of transactions">
        <p mdLine>{{ transaction.description }}</p>
        <p mdLine> #{{ transaction.id }} - {{ transaction.amount }}$</p>
    </md-list-item>
    <md-list-item *ngIf="transactions.length === 0">No entries</md-list-item>
</md-nav-list>