<nav md-tab-nav-bar>
  <a md-tab-link *ngFor="let tab of tabs"
    [routerLink]="[tab.path]"
    routerLinkActive
    #rla="routerLinkActive"
    [routerLinkActiveOptions]="{exact: true}"
    [active]="rla.isActive">
    {{ tab.label }}
  </a>
</nav>
<router-outlet></router-outlet>