<section>
    <md-toolbar>
        Create new customer
    </md-toolbar>

    <form [formGroup]="form">
        <p>
            <md-form-field>
                <input mdInput placeholder="Social security number" type="text" formControlName="cprCvr" />
            </md-form-field>
        </p>
        <p>
            <md-form-field>
                <input mdInput placeholder="First name" type="text" formControlName="firstName" />
                <md-error *ngIf="form.get('firstName').hasError('required')">
                    Please enter first name
                </md-error>
            </md-form-field>
        </p>
        <p>
            <md-form-field>
                <input mdInput placeholder="Last name" type="text" formControlName="lastName" />
                <md-error *ngIf="form.get('lastName').hasError('required')">
                    Please enter last name
                </md-error>
            </md-form-field>
        </p>
        <p>
            <button md-raised-button color="primary" type="submit" [disabled]="!form.valid" (click)="create()">
                Create
            </button>
            <button md-raised-button color="warn" type="submit" [routerLink]="['/customers']">
                Return to list
            </button>            
        </p>
    </form>
</section>