/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

form {
    text-align: center;
    margin: 2px auto;
    min-width: 150px;
    max-width: 500px;
    width: 100%
}

.fill-remaining-space {
    flex: 1 1 auto;
}